/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Force all menu items to not be bold */
.ant-menu-item,
.ant-menu-submenu-title,
.ant-menu-item .ant-menu-title-content,
.ant-menu-submenu-title .ant-menu-title-content,
.ant-menu-item *,
.ant-menu-submenu-title * {
  font-weight: 400 !important;
}

.ant-btn:focus {
  outline: 2px solid #f0ab5d !important;
  box-shadow: 2px 2px 5px #f0ab5d !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #092c4c !important;
  border-color: #092c4c !important;
}
.ant-checkbox-checked .ant-checkbox-inner:after {
  border-color: #fff !important;
}
